@import "tailwindcss";

:root {
  --bg-base: #1e1f22;
  --fg-base: #f2f3f5;
}

body {
  margin: 0;
  background-color: var(--bg-base);
  color: var(--fg-base);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
